[firebase]
db_url = "https://PROJECT_ID-default-rtdb.firebaseio.com"
api_key = "FIREBASE_WEB_API_KEY"

[map]
# Varsayilan: CARTO Positron retina tile. MapTiler/Mapbox/Stadia vb. ile degistirilebilir.
tile_url = "https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}{r}.png"
tile_attribution = "&copy; <a href=\"https://www.openstreetmap.org/copyright\">OpenStreetMap</a> &copy; <a href=\"https://carto.com/attributions\">CARTO</a>"
tile_subdomains = "abcd"
# Bos birakilirsa public OSRM demo'ya gidilmez; kartta 'yaklasik rota' gosterilir.
# Mapbox/ORS/OSRM gibi GeoJSON coordinate donduren bir endpoint kullanin.
routing_url_template = ""

[sentry]
dsn = ""
traces_sample_rate = 0.10
